<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Preheader -->
        <h6 class="text-uppercase text-primary animated fadeInUp">
          Bienvenue
        </h6>

        <!-- Headin -->
        <h1 class="display-1 font-weight-bold animated fadeInUp delay-0-5s slow">
          Vous êtes sur l'espace administrateur.
        </h1>


        <!-- Text -->
        <p class="lead text-muted mb-6 animated fadeInUp delay-1-5s slow ">
          Certains projets nécessitent peut-être votre validation, vous pouvez également accéder à la liste de tous les dons ainsi qu'aux profils des utilisateurs.
        </p>

        <!-- Button -->
        <div class="d-flex justify-content-between">
          <div class="d-inline mb-7 mb-md-9 animated fadeInUp delay-2s slow" >
            <%= link_to "", :class => "btn bg-gradient-primary text-white lift" do  %>
              <span class="btn-inner--text">Projets à valider</span>
              <span class="btn-inner--icon">
                <i class="fe fe-check-circle ml-1 ft-1-3" style="position: relative; top: 2px"></i>
              </span>
            <% end %>
          </div>

          <div class="d-inline mb-7 mb-md-9 animated fadeInUp delay-2s slow ">
            <%= link_to "", :class => "btn bg-gradient-primary text-white lift" do  %>
              <span class="btn-inner--text">Voir les dons</span>
              <span class="btn-inner--icon">
                <i class="fe fe-money ml-1 ft-1-3" style="position: relative; top: 2px"></i>
              </span>
            <% end %>
          </div>

          <div class="d-inline mb-7 mb-md-9 animated fadeInUp delay-2s slow">
            <%= link_to "", :class => "btn bg-gradient-primary text-white lift" do  %>
              <span class="btn-inner--text">Utilisateurs</span>
              <span class="btn-inner--icon">
                <i class="fe fe-user ml-1 ft-1-3" style="position: relative; top: 2px"></i>
              </span>
            <% end %> 
          </div>
        </div>

      </div>
    </div>
  </div> <!-- / .container -->
</section>