<!-- Project -->
<section class="slice py-5 bg-section-fade">
  <div class="container">

      <!-- Video Player -->
      <div id="videoContainer">
        <div class="overlay">
            <div class="button"></div>
        </div>
        <div id="video">
            <video src="https://webdevtrick.com/wp-content/uploads/sample-footage.mp4">
            </video>
        </div>
        <div id="controls">
            <div class="playButton">
              <div class="playPause"></div>
            </div>
      
            <div class="ProgressContainer">
              <div class="timer intialTime">
                  00:00
              </div>
              <div class="progressBar">
                  <div class="progress"></div>
              </div>
              <div class="time">
                  00:00
              </div>
              <div class="timer fullTime">
                  00:00
              </div>
            </div>
      
            <div class="volume">
              <div class="icon"></div>
      
              <div class="intensityBar">
                  <div class="intensity"></div>
              </div>
            </div>     
            <div class="scale">
              <div class="icon"></div>
            </div>
        </div> 
      </div>

      <!-- Carousel -->
      <!---->
      
      <div class="row mt-5">
        <div class="col-xl-8 col-lg-12 col-md-12 col-12 mb-4 mb-xl-0">
          <div class="card rounded-lg">
            <!-- Card body -->
            <div class="card-body">
              <div>
                <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <div class="mb-4">
                    <h3 class="mb-2">Description</h3>
                    <%= @project.short_description %>
                    <h3 class="mb-2 mt-3">Fonctionnalités</h3>
                    <%= @project.long_description %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-around mb-5">
            <button type="button" class="btn btn-twitter btn-icon-label">
              <span class="btn-inner--icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span class="btn-inner--text">Twitter</span>
            </button>
            <button type="button" class="btn btn-facebook btn-icon-label">
              <span class="btn-inner--icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span class="btn-inner--text">Facebook</span>
            </button>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-animated btn-primary btn-animated-x mx-3">
                <span class="btn-inner--visible">Soutenir</span>
                <span class="btn-inner--hidden">
                    <i data-feather="play"></i>
                </span>
            </button>
            <button type="button" class="btn btn-soft-success mx-3">
                Voter
            </button>
          </div>
          <div class="col-md-6 col-lg flex-lg-fill mt-3">
            <div class="card">
              <div class="card-header">
                <span class="h6">
                  Collaborateurs
                </span>
              </div>
              <div class="card-body py-3">
                <div class="row mx-n1">
                  <div class="col-auto text-center my-1 px-1">
                    <a href="#" class="avatar rounded-circle hover-scale-105">
                      <img alt="Image placeholder" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="">
                    </a>
                  </div>
                  <div class="col-auto text-center my-1 px-1">
                    <a href="#" class="avatar rounded-circle hover-scale-105">
                      <img alt="Image placeholder" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="">
                    </a>
                  </div>
                  <div class="col-auto text-center my-1 px-1">
                    <a href="#" class="avatar rounded-circle hover-scale-105">
                      <img alt="Image placeholder" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="">
                    </a>
                  </div>
                  <div class="col-auto text-center my-1 px-1">
                    <a href="#" class="avatar bg-primary text-white rounded-circle border border-lg border-soft-primary hover-scale-105">+30</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div class="row mx-n2">
          <div class="col-lg-3 col-sm-6 px-2">
              <div class="card">
                  <div class="card-body text-center">
                      <div class="mb-3">
                          <div class="icon icon-shape icon-md bg-primary shadow-primary text-white">
                              <i class="fas fa-wallet"></i>
                          </div>
                      </div>
                      <!-- Title -->
                      <h5 class="h3 font-weight-bolder mb-1">$25,370.00</h5>
                      <!-- Subtitle -->
                      <span class="d-block text-sm text-muted font-weight-bold">
                          Global Budget
                          <i data-feather="chevron-up" class="text-success"></i>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 px-2">
              <div class="card">
                  <div class="card-body text-center">
                      <div class="mb-3">
                          <div class="icon icon-shape icon-md bg-danger shadow-danger text-white">
                              <i class="fas fa-cash-register"></i>
                          </div>
                      </div>
                      <!-- Title -->
                      <h5 class="h3 font-weight-bolder mb-1">$5,370.00</h5>
                      <!-- Subtitle -->
                      <span class="d-block text-sm text-muted font-weight-bold">
                          Today's Income
                          <i data-feather="chevron-down" class="text-danger"></i>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 px-2">
              <div class="card">
                  <div class="card-body text-center">
                      <div class="mb-3">
                          <div class="icon icon-shape icon-md bg-warning shadow-warning text-white">
                              <i class="fas fa-shopping-basket"></i>
                          </div>
                      </div>
                      <!-- Title -->
                      <h5 class="h3 font-weight-bolder mb-1">$2,370.00</h5>
                      <!-- Subtitle -->
                      <span class="d-block text-sm text-muted font-weight-bold">
                          Spendings
                          <i data-feather="chevron-down" class="text-danger"></i>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 px-2">
              <div class="card">
                  <div class="card-body text-center">
                      <div class="mb-3">
                          <div class="icon icon-shape icon-md bg-success shadow-success text-white">
                              <i class="fas fa-receipt"></i>
                          </div>
                      </div>
                      <!-- Title -->
                      <h5 class="h3 font-weight-bolder mb-1">863</h5>
                      <!-- Subtitle -->
                      <span class="d-block text-sm text-muted font-weight-bold">
                          Today's Orders
                          <i data-feather="chevron-up" class="text-success"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <!-- Chart + Stats -->
      <div class="row">
          <div class="col-lg-8">
              <div class="card card-fluid">
                  <div class="card-header">
                      <div class="row align-items-center">
                          <div class="col">
                              <span class="h6">Orders</span>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-radio">
                                  <input type="checkbox" class="custom-control-input" id="checkChartLegendRefunds" onchange="ApexOrdersChart.toggleSeries(this)" value="Rejected" checked>
                                  <label class="custom-control-label h6 text-sm lh-200 text-muted" for="checkChartLegendRefunds">Show refunds</label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-body pt-2 pb-0 px-2">
                      <!-- Chart -->
                      <div id="apex-orders" data-height="200"></div>
                  </div>
                  <div class="card-body pt-0">
                      <!-- Stats -->
                      <div class="row mx-md-n2">
                          <div class="col-md-4 px-md-2">
                              <div class="card bg-secondary border-0 shadow-none mb-md-0">
                                  <div class="p-2 d-flex align-items-center">
                                      <div>
                                          <div class="icon icon-shape bg-white text-primary shadow">
                                              <i class="fas fa-cash-register"></i>
                                          </div>
                                      </div>
                                      <div class="pl-3">
                                          <h6 class="text-muted text-xs font-weight-light mb-0">Spendings</h6>
                                          <span class="h6 font-weight-bolder mb-0">$7.500</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 px-md-2">
                              <div class="card bg-secondary border-0 shadow-none mb-md-0">
                                  <div class="p-2 d-flex align-items-center">
                                      <div>
                                          <div class="icon icon-shape bg-white text-primary shadow">
                                              <i class="fas fa-cash-register"></i>
                                          </div>
                                      </div>
                                      <div class="pl-3">
                                          <h6 class="text-muted text-xs font-weight-light mb-0">Spendings</h6>
                                          <span class="h6 font-weight-bolder mb-0">$7.500</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 px-md-2">
                              <div class="card bg-secondary border-0 shadow-none mb-md-0">
                                  <div class="p-2 d-flex align-items-center">
                                      <div>
                                          <div class="icon icon-shape bg-white text-primary shadow">
                                              <i class="fas fa-cash-register"></i>
                                          </div>
                                      </div>
                                      <div class="pl-3">
                                          <h6 class="text-muted text-xs font-weight-light mb-0">Spendings</h6>
                                          <span class="h6 font-weight-bolder mb-0">$7.500</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <!-- Stats -->
              <div class="card ">
                  <div class="card-header">
                      <div class="row align-items-center">
                          <div class="col">
                              <span class="h6">Performance</span>
                          </div>
                          <div class="col-auto ml-auto text-right">
                              <span class="h6 text-sm text-muted">3,567.00</span>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="">
                          <div class="progress-circle progress-lg mx-auto" id="progress-performance-1" data-progress="72" data-trailwidth="4" data-text="72%" data-textclass="h3" data-shape="circle" data-color="primary"></div>
                      </div>
                      <hr class="my-4" />
                      <!-- Trend -->
                      <div class="d-flex align-items-center mb-2">
                          <div>
                              <span class="icon icon-shape icon-sm bg-soft-success text-success">
                                  <i class="fas fa-caret-up"></i>
                              </span>
                          </div>
                          <div class="pl-2">
                              <span class="text-success text-sm font-weight-bold">+23%</span>
                          </div>
                      </div>
                      <!-- Text -->
                      <p class="mb-0 text-sm text-muted">
                          You have a 23% growth in comparison with last month.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Comments -->
      <div class="mt-5">
        <h6 class="mb-4">Commentaires</h6>
        <div class="media media-comment">
          <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width:58px">
          <div class="media-body">
            <div class="media-comment-bubble left-top">
              <h6 class="mt-0">Alexis Ren</h6>
              <p class="text-sm lh-160">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              <div class="icon-actions">
                <a href="#" class="love active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> <span class="text-muted">10 likes</span> </a><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                      <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                    </path>
                  </svg> 
                  <span class="text-muted">1 reply</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="media media-comment">
          <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width:58px">
          <div class="media-body">
            <div class="media-comment-bubble left-top">
              <h6 class="mt-0">Tom Cruise</h6>
              <p class="text-sm lh-160">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              <div class="icon-actions">
                <a href="#" class="love active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                  </svg> <span class="text-muted">20 likes</span> 
                </a>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                    <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                  </svg> 
                  <span class="text-muted">3 replies</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="media media-comment align-items-center">
          <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width:58px">
          <div class="media-body">
            <form class="rounded-lg border">
              <div class="input-group input-group-lg input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0 pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                    </svg>
                  </span>
                </div>
                <input type="text" class="form-control border-0 px-1" aria-label="Find something" placeholder="Ajouter un commentaire...">
                  <div class="input-group-append">
                    <span class="input-group-text border-0 py-0 pl-2 pr-2">
                      <button type="button" class="btn btn-sm btn-primary">Poster</button>
                    </span>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>