.ft-1-2 {
  font-size: 1.2em
}


.ft-1-3 {
  font-size: 1.3em
}

.ft-1-4 {
  font-size: 1.4em
}

.ft-1-5 {
  font-size: 1.5em
}

.ft-1-6 {
  font-size: 1.6em
}

.ft-1-7 {
  font-size: 1.7em
}

.ft-1-8 {
  font-size: 1.8em
}

.ft-1-9 {
  font-size: 1.9em
}

.ft-2 {
  font-size: 2em
}
